
.category-tabs {
   margin-top: 10%;
   margin-bottom: 5%;
   width: 100vw;
   color: black;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-bottom: 1px solid grey;
}

.category-tabs h5 {
    font-family: 'Lato', sans-serif;
    border: 1px solid grey;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: .5em;
    margin: 0;
}


.category-tabs h5:hover{
    background: rgba(10, 5, 92, 0.8);
    color: white;
}

.projects-type {
    width: 20%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.projects-type h3 {
    font-family: 'Lato', sans-serif;
    padding: 1em;
    border-bottom: 1px solid grey
}

.cards-container {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.project-card-body{
    background: rgba(10, 5, 92, 0.781);
    color: white;
}

.project-links .col h6 {
    color: white;
}

.project-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
}

.project-links a {
    margin: 5px;
}

.card {
    margin: .8em;
}

.card-image {
    height: 200px;
}

.modal-button {
     width: 35%;
     margin-left: 30%;
     background:white;
     border: 1px solid black;
     color: black
}

.modal-button:hover {
    background: grey;
    color: white;
    border: 1px solid transparent;
}

@media (max-width: 767px) {
    .cards-container .card {
        margin: auto;
    }

    .projects-type h3 {
        padding: 0;
    }

    .category-tabs {
        margin-top: 20%;
    }

}