.projects-page{
    margin: 4em 10em;
    width: 60em;
}

.category-tabs {
   width: 100%;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card-body .btn {
   width: 35%;
   margin-left: 30%;
}
.project-links .col h6 {
    color: white;
}

.project-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
}

.project-links a {
    margin: 5px;
}

.card {
    margin: .8em;
}


