.resume-right {
    background-color: #27221f;
    color: white;
    padding: 2em;
    
}

.resume-right, .resume-left {
    margin-top: 6em;
}

.resume-image {
    border-radius: 50%;
    filter: brightness(130%);
}