.resume-right {
    background-color: #27221f;
    color: white;
    padding: 2em;
    
}

.resume-right, .resume-left {
    margin-top: 6em;
}

.resume-image {
    border-radius: 50%;
    filter: brightness(130%);
}

.resume-link {
    display: flex;
    justify-content: space-around;
    color: rgba(3, 1, 82, 0.678);
    font-size: 2em;
    padding: 8px;
    
}

.resume-link h4 {
    margin-top: 2%;
}

.resume-link i {
    font-size: 1.5em;
    color: rgba(3, 1, 82, 0.678)
}

.pdf-buttons {
    margin-top: 10%;
}

.pdf-buttons button {
    margin-left: 10%;
    background-color: rgba(3, 1, 82, 0.678);
    color: white;
    border-radius: 10%;
}