
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(10, 5, 92, 0.8);
    z-index: 2;
}
.navbar-light .navbar-nav {
    display: flex;
    flex: auto;
}

.navbar-light .navbar-nav .link {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin: auto;
}

.navbar-light .navbar-nav .link:hover {
    color: white;
    text-decoration: underline;
}