
.logo h1 {
   font-family: 'Bungee Shade', cursive; 
   color: rgba(10, 5, 92, 0.781);
   font-weight: bold;
   position: absolute;
   top: 50px;
   left: 0;
}

.jumbotron {
    background: linear-gradient(rgba(6, 48, 231, 0.63),
        rgba(65, 149, 182, 0.63)),
    url('https://media.giphy.com/media/3o7aD9y2CKtGHRfhOE/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-button {
    width: 20%;
    margin: auto 1em;
}

.main-button a {
    color: white;
    text-decoration: none;

}

.main-button:hover a {
    color: purple;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    font-weight: bold;
    height: 500px;
}

.text h1 {
    padding: 1em;
    font-size: 50px;
   font-weight: bold;
}

.text h3 {

    font-weight: bold;
}

.text p {
    font-size: 15px;
    padding: 1em;
}

.text hr {
    border-top: 4px dotted white;
    width: 50%;
    margin: auto;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 3em;
    padding: 8px;
}

.social-links i:hover {
    color: white; 
  
}

.resume-image {
    width: 100%;
    padding: 50px;
    transition: transform .2s;
    margin: auto;
}

.resume-image:hover {
    transform: scale(1.5);
}

.res-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nums i:hover {
    color: white;
    background: black;
}


@media (max-height: 605px) {
    .jumbotron {
        overflow-y: scroll;
    }
}

@media (max-width: 700px) {
    .text {
        margin-top: 15%;
    }
}

@media (max-width: 525px) {
    .text {
        margin-top: 25%;
    };

}

@media(max-width: 530px) {
    .main-button {
        width: auto;
    }
}

@media (max-width: 395px) {
    .social-links {
        justify-content: space-evenly;
    }
}